{% extends 'base.html.twig' %}

{% block title %}{{'Homepage' | trans}}{% endblock %}

{% block body %}


    <h1>{{'Welcome to my Translatable Website' | trans }}!</h1>
    <p>{{'My name is' | trans}}: Joseph Lindzius</p>
    <p>{{'Newbie Programmer' | trans}}</p>


{% endblock %}
